<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<center>
    <h1> SISTEMA DE GERENCIAMENTO DE PACIENTES</h1>
    <a href="{% url 'cadastro'%}"><h2>Cadastro de registros</h2></a>
    <a href="{% url 'listagem'%}"><h2>Listagem de todos os registros cadastrados</h2></a>
    <a href="admin/core/paciente/"><h2>Edição de registros</h2></a>
    <a href="admin/core/paciente/"><h2>Exclusão de registros</h2></a>
    <a href="admin/login/?next=/admin/"><h2>Login</h2></a>
    <a href="admin/login/?next=/admin/"><h4>Para realizar o cadastro é necessário estar logado no Django Admin<</h4></a>
</center>

</body>
</html>